@import "../../global.scss";

.introWrapper{
    background-color: white;
    display: flex;

    @include mobile{
        flex-direction: column;
        align-items:left;
      }
   

    .introContent{
        

        .wrapper{
            width: 100%;
            height: 100%;
            padding-left: 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            @include mobile{
                padding-left: 0;
                align-items: center;
              }

            h1{
                font-size: 60px;
                margin: 10px 0;
                text-align: center;

            }

            @include mobile{
                font-size: 40px;
                
              }

            h2{
                font-size: 35px;
                

            }
            h3{
                font-size: 30px;
                span{
                    font-size: inherit;
                    color: lightseagreen;
                }
                @include mobile{
                    font-size: 20px;
                  }
            }
            h4{
                font-size: 12px;
                color: gray;
            }
        }
      
        a{
            position: absolute;
            bottom: 10px;
            left: 40%;

            img{
               width: 30px;  
               animation: arrowBlink 2s infinite;
            }

            @keyframes arrowBlink{
                100%{
                    opacity:0;
                }
            }
        }
    }

// justify-content: center
    
}