@import "../../global.scss";
@import "../../breakpoints.scss";

.testimonials {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include mobile{
    justify-content: space-around;
  }


  h1 {
    font-size: 50px;
    margin:20px;

    @include media ("<500px"){
      font-size: 5vw;
      margin: 50px;
    }
  }

  .container {
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;

    @include mobile{
      flex-direction: column;
      height: 100%;
    }

    .card {
      width: 250px;
      height: 80%;
      border-radius: 10px;
      box-shadow: 0px 0px 15px -8px black;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding: 20px;
      transition: all 1s ease;
      /* overflow: auto; */

      @include mobile{
       /*  height: 180px; */
        margin: 10px 0;
      }

      &.featured{
          width: 300px;
          height: 85%;
          margin: 0 30px;

          @include mobile{
            width: 250px;
            height: 80%;
            margin: 1px;
          }
      }

      &:hover{
          transform: scale(1.1);
      }

      .top {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          &.left,
          &.right {
            height: 50px;
          }
          &.user {
            height: 100px;
            width: 100px;
            border-radius: 50%;
            object-fit: cover;
            /* margin: 0 30px; */

            @include media("<769px"){
              width: 30px;
              height: 30px;
              margin: 20px;
            }
          }
        }
      }

      .center {
        padding: 10px;
        border-radius: 10px;
        background-color: rgb(250, 244, 245);

        @include mobile{
          font-size: 12px;
          padding: 5px;
          height: 20vw;
        }
      }
      .bottom {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        overflow: auto;

        h3 {
          margin-bottom: 5px;
          
          @include media("<769px"){
            padding: 30px;
    
        }

          /* @include mobile{
            font-size: 14px;
            padding: 20px;
          } */
        }
        h4{
            color: rgb(121, 115, 115);
            text-align: center;
            /* @include mobile{
              font-size: 13px;
              padding: 20px;
              margin-bottom: 20px;
            } */

            @include media("<769px"){
              display: none;
      
          }
        }
      }
    }
  }
}