@import "../../breakpoints.scss";

.leadership{
    background-color: #9acfd6;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;

  
    
    

    
    h1 {
        font-size: 5vw;
        color: white;
        height: 150px;
        text-align: center;

       
       
        }

    .arrow {
        height: 50px;
        position: absolute;
        cursor: pointer;

        
    
        &.left {
            left: 2%;
            transform: rotateY(180deg);
          }
      
          &.right {
            right: 2%;
          }
    }


    .slider{
        height: 350px;
        display: flex;
        position: relative;
        left: 0;
        transition: all 1s ease-out;

       

        .container {
            width: 100vw;
            display: flex;
            align-items: center;
            justify-content: center;


            .item{
                width: 75%;
                height: 100%;
                background-color: white;
                border-radius: 50px;
                display:flex;
                align-items: center;
                justify-content: center;


                .left{
                    flex:7;
                    height: 80%;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .leftContainer{
                        width: 90%;
                        height: 70%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;

                        }

                        h2{
                            font-size: 5vw;

                            @include media ( ">996px", "<1964px"){
                                font-size: 25px;
                             }

                            
                        }
                        p{
                            font-size: 20px;

                            @include media ("<996px"){
                                display: none;
                            }
                        }
                    }
                }

                .right{
                    flex:5;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    img{
                        width:50%;
                        transform: rotate(0deg);
                        overflow: hidden;
                    }
            
                }
            }
        }
    } 