@import "../../global.scss";
@import "../../breakpoints.scss";

.personal{
    background-color: #e4e6da;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include media("<996px"){
        display: none;

    }
    
    

    h1{
        font-size: 5vw;
        color: white;
        margin:40px;
        /* padding: 30; */
        
        @include media ( "<1410px"){
            height: 15vw;
            margin: 3vw;

        }
        
       
        }

    ul{
        margin: 20px;
        padding:0;
        list-style: none;
        display: flex;
        

        @include media ( "<505px"){
            height: 10vw;
            flex-direction: column;
            display: flex;
           

        }
        

        
    }

    .container{
        width: 90%;
        height: 60%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;


        .item{
            width: 17vw;
            height: 17vw;
            border-radius: 20px;
            border: 3px solid rgb(239, 235, 235);
            margin: 15px 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            position: relative;
            transition: all .5s ease;
            cursor: pointer;

            h3{
                position: absolute;
                font-size: 10px;
                text-align: center;
            }

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                z-index: 1;
            }

            &:hover{
                background-color: $mainColor;
                img{
                    opacity: 0.2;
                    z-index:0;
                }
            }
        }
    }
}